<% author = User.find(comment.user_id) %>

<li> 
	<strong>
		<a class="author" href="/photos/index/<%= author.id %>">
			<%= author.first_name %> <%= author.last_name %>:
		</a> 
	</strong>
	<%= comment.comment %> <span class="comment_date"> Published on <%= comment.date_time.getlocal %></span>
</li>